/*
The styling of this website follows the Enduring CSS methodology, https://ecss.benfrain.com,
using variables from Open Props, https://open-props.style.

As a cheatsheet, the naming convention for Enduring CSS is:

.[namespace][-ModuleOrComponent][_ChildNode][-variant]
*/

:root {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-2);
  color: var(--gray-12);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: white;
    background-color: var(--gray-12);
  }
}

a {
  color: var(--gray-12);

  &:visited {
    color: var(--gray-12);
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: white;

    &:visited {
      color: white;
    }
  }
}

h1 {
  margin-top: 0px;
  margin-bottom: var(--size-2);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-6);

  & a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

h2 {
  margin-bottom: var(--size-1);
  margin-bottom: var(--size-1);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-6);

  & a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

h3 {
  margin-top: var(--size-3);
  margin-bottom: var(--size-3);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-5);

  & a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

h4 {
  margin-top: var(--size-4);
  margin-bottom: var(--size-4);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-4);
}

p {
  margin-top: var(--size-3);
  margin-bottom: var(--size-3);
  font-weight: var(--font-weight-4);
}

b {
  font-weight: var(--font-weight-6);
}

li {
  font-weight: var(--font-weight-4);
}

strong {
  font-weight: var(--font-weight-6);
}

pre {
  font-size: var(--font-size-0) !important;
}

code {
  font-size: var(--font-size-0) !important;
  background-color: var(--indigo-1);
  color: var(--indigo-9);
}
