.pp-Posts {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-left: 0px;
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: var(--size-2);
  }
}

.pp-PostItem {
  display: block;
  text-decoration: none;
  font-variant-numeric: tabular-nums;
}

.pp-PostItem__Link {
  display: flex;
  flex-direction: row;
  gap: var(--size-4);
  text-decoration: none;
}

.pp-PostItem_Title {
  margin-bottom: var(--size-1);
  text-align: start;
  text-decoration: none;
  font-weight: var(--font-weight-4);

  &:hover {
    text-decoration: underline;
  }
}

.pp-PostItem_Date {
  text-align: center;
  font-weight: var(--font-weight-3);
  width: 85px;
}

.pp-Post_Title {
  text-align: start;
}

.pp-Post_TimeAgo {
  margin-top: 0px;
  text-align: start;
  margin-bottom: var(--size-1);
  font-weight: var(--font-weight-3);
}

.pp-Blog_About-Title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.85rem;
}
