<h1 id="about">
  <a href="#about">About 🧑🏻‍💻</a>
</h1>

<p>
  Hola 👋,
</p>
<p>
  I'm a Berlin-based builder. For the past ten years, I have been a hands-on and adaptable problem solver, collaborating with start-ups and
  <a href="https://shopify.com">e-commerce platforms</a>
  and building open-source solutions like <a href="https://tuist.io" target="_blank">Tuist</a>. I'm currently working with
  <a href="https://www.linkedin.com/in/marek-f-71853b89/">Marek</a>
  on turning Tuist into a sustainable business.
</p>
<p>
  My work is trusted by <a target="_blank" href="https://shopify.com">Shopify</a>, <a
    target="_blank"
    href="https://americanexpress.com"
  >American Express</a>, <a target="_blank" href="https://soundcloud.com">SoundCloud</a>, <a
    target="_blank"
    href="https://shopify.com"
  >Bloomberg</a>, <a target="_blank" href="https://stripe.com">Stripe</a>, <a
    target="_blank"
    href="https://google.com"
  >Google</a>, <a target="_blank" href="https://monday.com">Monday</a>, <a
    target="_blank"
    href="https://justeat.com"
  >Just Eat</a>, <a target="_blank" href="https://etsy.com">Etsy</a>, and <a
    target="_blank"
    href="https://adidas.com"
  >Adidas</a>.
</p>

<p>
  Check out my <a href="/pdfs/CV.pdf" target="_blank">CV</a>
  to know more about my professional experience.
</p>

<h2 id="donation">
  <a href="#donation">Donation</a>
</h2>
<p>
  If you like my work, you can support me through a donation. I appreciate it a lot! 🙏
</p>
<script src="https://liberapay.com/pepicrft/widgets/button.js">
</script>
<noscript>
  <a href="https://liberapay.com/pepicrft/donate">
    <img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg" />
  </a>
</noscript>

<h2 id="contact">
  <a href="#contact">Contact</a>
</h2>
<p>
  If you'd like to contact me, you can send me an email at <a href="mailto:hola@pepicrft.me">hola@pepicrft.me</a>.
</p>
